<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form action="/submit" method="post" id="myForm">
            <input type="text" id="long_url" name="long_url"/><br/>
            {% if shorten_link is defined and shorten_link %}
            <p>Your short Link : -</p><a href="{{ shorten_link }}" id="textToCopy" target="_blank">{{ shorten_link }}</a>
            <button id="copyButton" type="button">Copy to Clipboard</button>
            {% endif %}
            <input type="submit" value="Shorten" onclick="time_update(event);"/>
        </form>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const copyButton = document.getElementById("copyButton");
            const textToCopy = document.getElementById("textToCopy");

            copyButton.addEventListener("click", function() {
                const range = document.createRange();
                range.selectNode(textToCopy);
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);

                try {
                    document.execCommand("copy");
                    copyButton.innerText = "Copied!";
                    copyButton.style.backgroundColor= "grey";
                    setTimeout(() => {
                    copyButton.innerText = "Copy to Clipboard";
                    copyButton.style.backgroundColor = ""; 
                }, 10000);
                } catch (err) {
                    console.error("Unable to copy text: ", err);
                } finally {
                    window.getSelection().removeAllRanges();
                }
            });
        });
    </script>


</body>
</html>